.wrapper-list {
    background-color: var(--backgraund-color);
    padding: 12px;
    border-radius: 10px;
    margin: 0;
}

.wrapper-list > li {
    list-style-type: none;
    font-size: 14px;
    border-bottom: 1px solid var(--second-accent-color);
}

.wrapper-table {
    display: flex;
    align-items: center;
    gap: 10px;
}