.list {
  max-width: 564px;
  width: 100%;
  background-color: var(--background-color);
  aspect-ratio: 0.7;
  padding: 32px 40px;
}

.list > li {
  display: flex;
  padding: 10px;
  gap: 10px;
  font-size: 14px;
}

.list > li:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
}

.textarea {
  width: 100%;
  height: 20px;
  border: 0px;
  line-height: unset;
  outline: none;
  max-height: 50px;
  background-color: var(--primary-color);
  padding-left: 4px;
  color: var(--white);
  resize: none;
}
