.wrapperModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--modal-background);
    backdrop-filter: blur(2px);
    z-index: -1;
  }
}

.bodyModal {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 200px;
  max-width: 600px;
  max-height: 80vh;
  min-height: 50px;
  word-break: break-all;
  background-color: var(--textarea-color);
  padding: 20px;
  margin-top: 8%;
  border-radius: 6px;
  position: relative;
  color: var(--avatar-icon-color);
  box-sizing: border-box;
}

.wrapperIconCloseModal {
  width: 22px;
  height: 22px;
  position: absolute;
  right: -34px;
  top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0px;
  background-color: var(--button-color);
}
