.row {
  display: flex;
  gap: 16px;
  width: 100%;
}

.question {
  width: 300px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer {
  width: 120px;
  background-color: var(--background-color);
}

.answer,
.question {
  min-height: 32px;
  padding: 4px 8px;
  box-sizing: border-box;
  font-size: 14px;
  word-break: break-all;
  align-content: center;

  textarea {
    width: 100%;
  }
}

.answers {
  display: flex;
}

.close {
  display: none;
}
